@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
:root {
    --colorTextPrimary: black;
    --colorTextSecondary: floralwhite;

    --colorPrimary: #20408A;
    --colorSecondary: lightgrey;
    --colorTertiary: whitesmoke;

    --fontMain: 'Raleway', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontMain);
}

header#main {
    padding: 0.5rem 0 0.5rem 2rem;
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
}

main {
    padding: 0.5rem 1rem;
    line-height: 1.4rem;
}

section#texts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    > article {
        border: thin solid var(--colorTextPrimary);
        padding: 1rem;
        flex: 1 1 700px;
        @media (min-width: 500px) {
            flex: 1 1 450px;
        }
        @media (min-width: 750px) {
            flex: 1 1 0;
        }
    }
    > article:first-of-type {
        border-radius: 0.5rem 0.5rem 0 0;
        @media (min-width: 750px) {
            border-radius: 0.5rem 0 0 0.5rem;
        }
    }
    > article:last-of-type {
        border-radius: 0 0 0.5rem 0.5rem;
        @media (min-width: 750px) {
            border-radius: 0 0.5rem 0.5rem 0;
        }
    }
    > article > p {
        cursor: pointer;
    }
}

section#results {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--colorSecondary);    
}

form {
    @media (min-width: 600px) {
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;
    }
    > * {
        text-align: center;
        margin-bottom: 1rem;
    }
    button, select {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-family: var(--fontMain);
        font-size: 1.1rem;
    }
}
label {
    font-weight: bold;
    &::before {
        content: " ";
    }
}

a {
    text-decoration: none;
    color: var(--colorTextPrimary);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.25rem 0 0.25rem 0;
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
    text-align: center;
}